* {
    font-family: 'Raleway', sans-serif;
  }

/* Header section ---------------------------------------------------------------------------------------------- */

.header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-weight: 100;
    font-size: 20px;
}

.logo {
    margin-top: 30px;
    margin-left: 40px;
    display: flex;
    justify-content: flex-start;
}

.logo {
    justify-content: flex-start;
}

.nav {
    justify-content: flex-end;
    margin: 40px;
}

.nav-links {
    padding: 15px;
}

.nav-links:active {
    padding-top: 38px;
    color: #0065FC;
    border-top: solid #0065FC;
  }

/* Search section ------------------------------------------------------------------------------------------------ */

.search-section {
    margin: 40px;
}

h1 {
    font-size: 30px;
}

.btn-group {
    margin: 0px 0px 20px 0px;
    display: inline-flex;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
}

.button {
    padding: 10px 16px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 20px 0px 0px 20px;
}

.search-btn {
    padding: 10px 16px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #0065FC;
    color: white;
    border-radius: 0px 20px 20px 0px;
    font-size: 20px;
}

.search-btn:active {
    background: #DEEBFF;
    -webkit-box-shadow: inset 0px 0px 5px #9ec3ff;
       -moz-box-shadow: inset 0px 0px 5px #9ec3ff;
            box-shadow: inset 0px 0px 5px #9ec3ff;
     outline: none;
  }

.search-box {
    padding: 10px 16px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

h3 {
    font-weight: 100;
    font-size: 20px;
}

/* Filter section ------------------------------------------------------------------------------------------------ */

.my-button {
    display: flex;
    align-items: center;
    margin: 20px;
    border-radius: 30px 30px;
    border: 3px solid #F2F2F2
}

.my-button:active {
    background: #F2F2F2;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
  }


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #DEEBFF;
}

.info-btn {
    margin: 10px;
    font-size: 20px;
}

.filter-name {
    padding: 0 10px;
}

.filter-section {
    margin: 0px 40px 0px 40px; 
}

.filter-btn {
    display: inline-flex;
}

.filters {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.info-txt {
    display: block;
    align-items: center;
    font-size: 20px;
    margin-top: 0px;
}


/* font-awsome buttons */

.fa-money-bill-wave {
    color: #0065FC;
  }

.fa-child {
    color: #0065FC;
}

.fa-heart {
    color: #0065FC;
}

.fa-dog {
    color: #0065FC;
}

/* Main section ------------------------------------------------------------------------------------------------ */

.main {
    margin: 40px;
}

.accommodations-section {
    display: flex;
}

.main-title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 20px 0 20px 50px;
}

.accommodations-cards {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    margin-right: 40px;
    flex: 3;
    background-color: #F2F2F2;
    border-radius: 25px;    
}

.main-card {
    width: 25%;
    background-color: white;
    border-radius: 25px;
    margin: 20px;
    box-shadow: -4px 7px 6px 2px #dbdbdb;
}

.main-card:hover {
    background-color: #dbdbdb;
    cursor: pointer;
    transform: scale(1.03);
}

.main-card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 20px 20px 0 0;
}

.main-card-txt {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
}

.show-more {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 20px 0 20px 50px;
    font-size: 20px;
    font-weight: bold;
}

/* Side-bar section ------------------------------------------------------------------------------ */

.sidebar-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-title h1 {
    margin: 20px 0 20px 25px;
}

.side-bar i {
    margin: 20px 25px 20px 0;
}

.side-bar {
    flex: 1;
    display: flex;
    flex-flow: wrap column;
    background-color: #F2F2F2;
    border-radius: 25px;
}

.sidebar-card {
    display: flex;
    background-color: white;
    border-radius: 25px;
    margin: 20px;
    box-shadow: -4px 7px 6px 2px #dbdbdb;
}

.sidebar-card:hover {
    background-color: #dbdbdb;
    cursor: pointer;
    transform: scale(1.03);
}

.sidebar-card-img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
}

.sidebar-card-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

/* Activities section ------------------------------------------------------------------------------------------------ */

.activities-section {
    margin: 40px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card {
    background-color: #ffffff;
    border-radius: 25px;
    font-size: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 25px;
    box-shadow: -4px 7px 6px 2px #dbdbdb;
  }

  .card:hover {
      background-color: #F2F2F2;
      cursor: pointer;
      transform: scale(1.03);
  }
  
  .card img {
    height: 100%;
    padding: 0;
  }

  .card p {
      padding: 10px 15px 15px 15px;
      display: flex;
      justify-content: flex-start;
  }

/* Activities section */

/* Footer section ------------------------------------------------------------------------------------------------ */

.footer {
    display: flex;
    justify-content: space-around;
    margin: 0px;
    font-size: 20px;
    padding: 40px;
}

.footer-container {
    margin: 0px;
    background-color: #F2F2F2;
}

.footer-list {
    display: flex;
    flex: 1;
    flex-direction: column;
}

h2 {
    font-size: 22px;
}

.footer-links {
    padding-bottom: 10px;
}

/* ------------------------------------------------------------------------------------------------ */